<div id="fondo">

<h1 class="text-center" id="tituloPrincipal">{{title}}</h1>

<div class="container" id="calculadora">
<h6 class="fw-bolder">
  Número 1: <input type="number" name="numero1" id="" [(ngModel)]="numero1" class="form-control"><br><br>
  Número 2: <input type="number" name="numero2" id="" [(ngModel)]="numero2" class="form-control"><br><br>
</h6>

  <button type="button" class="btn btn-outline-warning " (click)="sumar()">Sumar</button>
  <button type="button" class="btn btn-outline-danger" (click)="restar()">Restar</button>
  <button type="button" class="btn btn-outline-primary" (click)="dividir()">Dividir</button>
  <button type="button" id="btnMulti" class="btn btn-outline-success" (click)="multiplicar()">Multiplicar</button>
</div>

<p class="fs-2 text-center">Resultado: {{resultado}}</p>


</div>
